/*Mobile-first project*/
/*Breakpoints: 480px and 980px*/
/*I could use "rgba" instead*/
@keyframes loading-spinner-txt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-spinner-circle {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(720deg);
    opacity: 0;
  }
}
@keyframes loading-spinner-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dish-slide {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dish-order {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

.link--notmarked {
  text-decoration: none;
  color: black;
}

.fas.fa-heart {
  opacity: 0;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  /*background: -webkit-linear-gradient($colour-primary, $colour-secondary);*/
  /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 500ms;
}

.far.fa-heart {
  transition: opacity 500ms;
}

.restaurants__card__txt > p:hover .fas.fa-heart,
.menu-title__text > p:hover .fas.fa-heart {
  opacity: 1;
  cursor: pointer;
}

.restaurants__card__txt > p:hover .far.fa-heart,
.menu-title__text > p:hover .far.fa-heart {
  opacity: 0;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
.loading-spinner p {
  font-family: "Shrikhand", sans-serif;
}

button {
  color: #fff;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  border: none;
  border-radius: 40px;
  outline: transparent;
  padding: 20px 30px;
  margin: 10px 0 50px 0;
  font-size: 1.1rem;
  transition: all 1s;
  font-weight: normal;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
  outline: transparent;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
}

.button--lang {
  padding: 15px 60px;
}

header {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: normal;
}

footer {
  background-color: #2e2e2e;
}

footer h2 {
  margin: 0;
  color: #fff;
  padding: 20px;
  font-weight: normal;
  font-size: 1.3rem;
}

footer ul {
  margin: 0;
  color: #fff;
  padding: 0 20px 15px 20px;
}

footer ul > li {
  list-style-type: none;
  line-height: 1.7rem;
  font-size: 1rem;
}

footer span {
  padding: 0 5px;
  width: 25px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #9356dc;
}

/* Tablet & Desktop */
@media all and (min-width: 481px) {
  footer h2,
footer ul {
    text-align: center;
  }
}
@media all and (min-width: 981px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer li {
    width: 25%;
  }
}
.link-back {
  padding: 20px 0 10px 20px;
  font-size: 1.5em;
  margin-top: -65px;
}

.menu {
  background-color: #f2f2f2;
  margin: 0;
}
.menu h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.menu-title__img {
  height: 300px;
  background-image: url("images/restaurants/restaurant-a-la-francaise-cite-rouge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.menu-title__text {
  margin: -50px 0 0 0;
  border-radius: 40px 40px 0 0;
  padding: 40px 5% 10px 5%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: flex-start;
  align-content: space-between;
}
.menu-title__text h2 {
  width: 85%;
  margin: 0;
  font-size: 2rem;
}
.menu-title__text p {
  width: 15%;
  text-align: right;
  font-size: 1.5rem;
  position: relative;
}

.fas.fa-heart.heart-menu,
.far.fa-heart.heart-menu {
  position: absolute;
  top: 10px;
  right: 0;
}

.menu h3 span {
  border-bottom: 3px solid #99e2d0;
  padding: 0 0 5px 0;
}

.starters,
.main-courses,
.desserts {
  padding: 10px 5%;
}

.starters {
  animation: dish-slide 1s ease 0.2s both;
}

.main-courses {
  animation: dish-slide 1s ease 0.4s both;
}

.desserts {
  animation: dish-slide 1s ease 0.6s both;
}

.dish-cards {
  display: flex;
  flex-direction: column;
}

.dish-card {
  height: 80px;
  background-color: #fff;
  padding: 0;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}
.dish-card__txt {
  overflow: hidden;
  width: 80%;
}
.dish-card__txt h4 {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.2rem;
  margin: 0 0 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-card__txt p {
  padding-bottom: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-card__price p {
  padding: 10px;
  text-align: right;
  font-weight: 900;
}
.dish-card__ico {
  height: 80px;
  width: 0;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition-duration: 0.6s;
  /*opacity: 0;*/
}
.dish-card__ico p {
  width: 80px;
  text-align: center;
}
.dish-card__ico p span {
  color: #fff;
}
.dish-card:hover {
  cursor: pointer;
}
.dish-card:hover .dish-card__ico {
  width: 80px;
  transform: scaleX(1);
}
.dish-card:hover .dish-card__ico p {
  transform: rotate(1turn);
  transition-duration: 0.6s;
}

.menu__button {
  text-align: center;
  margin-top: 30px;
}

/* Tablet & Desktop */
@media all and (min-width: 981px) {
  .menu-title__img {
    height: 500px;
  }

  .dish-cards {
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .dish-card {
    width: 30%;
  }
}
@media all and (min-width: 481px) and (max-width: 980px) {
  .dish-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .starters h3,
.main-courses h3,
.desserts h3 {
    margin-left: 23%;
  }
}
.loading-spinner {
  height: 500px;
  z-index: 1000;
}
.loading-spinner p {
  font-size: 3rem;
  text-align: center;
  margin: 200px 0 0 0;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loading-spinner-txt 2s ease-in-out both;
  position: relative;
}
.loading-spinner::before {
  content: "";
  border: solid 10px #ff79da;
  border-bottom-color: #99e2d0;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  left: 50%;
  top: 350px;
  transform: translate3d(-50%, -50%, 0);
  animation: loading-spinner-circle 2s linear both;
}

.page-content {
  animation: loading-spinner-page 1s ease 2s both;
  margin-top: -700px;
}

.index h3 {
  font-weight: 900;
  font-size: 1.6rem;
}
.index h4 {
  font-weight: normal;
  font-size: 1.2rem;
}

/* Banner */
.banner {
  background-color: #f2f2f2;
  text-align: center;
}
.banner__location {
  background-color: #e0e0e0;
  padding: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2) inset;
  font-weight: 700;
}
.banner__location span {
  padding-right: 10px;
}
.banner h3 {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Steps */
.steps,
.restaurants {
  padding: 50px 0;
}
.steps h3,
.restaurants h3 {
  margin: 0 0 20px 20px;
}

.steps {
  /* - code optimization - This code uses the "paint" level, which makes it slower
  Remember: calculation ranking: style > layout > paint > composition (transform and opacity)
  .steps__step {
    ...
    box-shadow: $shadow-step;
    transition: background-color 1s;
    &:hover {
      background-color: $colour-primary-transparent;
    }
  }*/
  /* - code optimization - This code uses only the "composition" level, which makes it faster*/
}
.steps > div {
  display: flex;
  flex-direction: column;
}
.steps__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
  margin: 10px 20px 20px 25px;
  padding: 20px;
  border-radius: 20px;
  line-height: 25px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
.steps__step::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: #9356dc1f;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}
.steps__step:hover::after {
  opacity: 1;
}
.steps__step span {
  padding: 0 20px;
  width: 20px;
}
.steps__step--text {
  font-weight: 700;
}
.steps__step--counter {
  background-color: #9356dc;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  margin-left: -30px;
}

/* Restaurants */
.restaurants {
  background-color: #f2f2f2;
}
.restaurants > div {
  display: flex;
  flex-direction: column;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  transform: scale(1);
  transition: transform 500ms;
}
.restaurants__card:hover {
  transform: scale(1.05);
}
.restaurants__card > div {
  position: relative;
}
.restaurants__card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__card__new {
  background-color: #99e2d0;
  color: green;
  border-radius: 3px;
  padding: 8px 15px;
  text-align: right;
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  font-weight: bold;
}
.restaurants__card__txt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 8px 15px;
}
.restaurants__card__txt div {
  width: 80%;
}
.restaurants__card__txt h4 {
  font-weight: 900;
}
.restaurants__card__txt h4,
.restaurants__card__txt p {
  font-size: 1.2rem;
  margin: 5px;
}
.restaurants__card__txt > p {
  width: 20%;
  font-size: 1.5rem;
  text-align: right;
  margin: 10px 10px 0 0;
  position: relative;
}

.fas.fa-heart.heart-index,
.far.fa-heart.heart-index {
  position: absolute;
  top: 0;
  right: 0;
}

/* Tablet & Desktop */
@media all and (min-width: 981px) {
  .steps > div {
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
  }

  .restaurants__card__link {
    width: 40%;
  }
}
@media all and (min-width: 481px) {
  .restaurants > div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media all and (min-width: 481px) and (max-width: 980px) {
  .steps__step {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurants__card__link {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
