body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

.link--notmarked {
  text-decoration: none;
  color: black;
}

.fas.fa-heart {
  opacity: 0;
  background: linear-gradient(0deg, $colour-secondary, $colour-primary);
  /*background: -webkit-linear-gradient($colour-primary, $colour-secondary);*/
  /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 500ms;
}

.far.fa-heart {
  transition: opacity 500ms;
}

.restaurants__card__txt > p:hover .fas.fa-heart,
.menu-title__text > p:hover .fas.fa-heart {
  opacity: 1;
  cursor: pointer;
}

.restaurants__card__txt > p:hover .far.fa-heart,
.menu-title__text > p:hover .far.fa-heart {
  opacity: 0;
}
