.link-back {
  padding: $padding-link-back;
  font-size: 1.5em;
  margin-top: $margin-top-link-back;
}

.menu {
  background-color: $colour-lightgrey;
  margin: 0;
  h3 {
    font-weight: 300;
    text-transform: uppercase;
  }
}

.menu-title {
  &__img {
    height: $height-menu-img;
    background-image: url("images/restaurants/restaurant-a-la-francaise-cite-rouge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__text {
    margin: $margin-menu-title-txt;
    border-radius: $radius-menu-title-txt;
    padding: $padding-menu-title-txt;
    background-color: $colour-lightgrey;
    display: flex;
    flex-direction: row;
    width: $width-menu-title-txt;
    align-items: flex-start;
    align-content: space-between;
    & h2 {
      width: $width-menu-title-txtleft;
      margin: 0;
      font-size: 2rem;
    }
    & p {
      width: $width-menu-title-txtright;
      text-align: right;
      font-size: 1.5rem;
      position: relative;
    }
  }
}

.fas.fa-heart.heart-menu,
.far.fa-heart.heart-menu {
  position: absolute;
  top: $pos-abs-top-heart-menu;
  right: 0;
}

.menu h3 span {
  border-bottom: $border-menu-subtitle-underline;
  padding: $padding-menu-subtitle-underline;
}

.starters,
.main-courses,
.desserts {
  padding: $padding-menu-subtitle;
}

.starters {
  @include slide-anim(1);
}

.main-courses {
  @include slide-anim(2);
}

.desserts {
  @include slide-anim(3);
}

.dish-cards {
  display: flex;
  flex-direction: column;
}

.dish-card {
  height: $height-dish-card;
  background-color: $colour-white;
  padding: 0;
  margin: $margin-dish-card;
  border-radius: $radius-dish-card;
  @include shadow(0.05);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  &__txt {
    overflow: hidden;
    width: $width-dish-card-txt;
    h4 {
      padding-top: $padding-dish-card;
      padding-left: $padding-dish-card;
      font-size: 1.2rem;
      margin: $margin-dish-card-title;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      padding-bottom: $padding-dish-card;
      padding-left: $padding-dish-card;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__price {
    p {
      padding: $padding-dish-card;
      text-align: right;
      font-weight: 900;
    }
  }
  &__ico {
    height: $height-dish-card;
    width: 0;
    background-color: $colour-tertiary;
    display: flex;
    align-items: center;
    border-top-right-radius: $radius-dish-card;
    border-bottom-right-radius: $radius-dish-card;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition-duration: 0.6s;
    /*opacity: 0;*/
    p {
      width: $height-dish-card;
      text-align: center;
      span {
        color: $colour-white;
      }
    }
  }
  &:hover {
    cursor: pointer;
    .dish-card__ico {
      width: $height-dish-card;
      transform: scaleX(1);
      p {
        transform: rotate(1turn);
        transition-duration: 0.6s;
      }
    }
  }
}

.menu__button {
  text-align: center;
  margin-top: $margin-top-button-menu;
}

/* Tablet & Desktop */

@media all and (min-width: 981px) {
  .menu-title__img {
    height: $height-menu-img-desktop;
  }
  .dish-cards {
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .dish-card {
    width: $width-dish-card-desktop;
  }
}

@media all and (min-width: 481px) and (max-width: 980px) {
  .dish-card {
    width: $width-dish-card-tablet;
    margin-left: auto;
    margin-right: auto;
  }
  .starters h3,
  .main-courses h3,
  .desserts h3 {
    margin-left: $margin-left-menu-subtitle-tablet;
  }
}
