@keyframes loading-spinner-txt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading-spinner-circle {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(720deg);
    opacity: 0;
  }
}

@keyframes loading-spinner-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dish-slide {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dish-order {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
